<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
<h2>Oil Marking details: </h2>
<ul>
  <li *ngFor = "let ais of aisData" >
    <h2> Deatils for AIS  {{ais.id}} </h2>
      <ul>
        <h3>
        <li> {{ais.aisStatus}} </li>
        <li> {{ais.markerTemperature}} </li>
        <li> {{ais.markerVolumeStart}} </li>
        <li> {{ais.markerVolumeEnd}} </li>
        <li> {{ais.markerPressure}} </li>
        </h3>
      </ul>
   </li>
  
</ul>


